body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 95vw;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav-item-text {
  pointer-events: none;
}
.nav-item {
  font-size: 3rem;
  position: relative;
  justify-content: center;
  margin-top: 40px;
  border-top: 4px solid black;
  border-bottom: none;
  display: flex;
  width: 100%;
  font-family: "Archivo Black", sans-serif;
}
.nav-item:hover {
  cursor: pointer;
}
.content {
  background: black;
  height: 75vh;
  width: 100%;
  border-right: 4px solid black;
}
.selected {
}
.triangle {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;
  pointer-events: none;
}
.selected .triangle {
  opacity: 1;
}
.text {
  background-clip: text;
  font-size: 4rem;
  background-image: url("../assets/backgrounds/mountain.png");
  background-position-y: -25%;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Archivo Black", sans-serif;
  pointer-events: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
